{
  "presets": [
    "react",
    "es2015"
  ],

  "plugins": [
    "transform-object-rest-spread",
    [
      "babel-plugin-root-import", [
        {
          "rootPathPrefix": "@",
          "rootPathSuffix": ""
        },
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "assets/scripts"
        }
      ]
    ]
  ],

  "retainLines": true
}
