{
  "presets": [
    "react",
    [
      "env", {
        "targets": {
          "browsers": [
            "last 3 versions",
            "ie >= 9"
          ],
          "node": "current"
        }
      }
    ]
  ],

  "plugins": [
    "transform-object-rest-spread",
    [
      "babel-plugin-root-import", [
        {
          "rootPathPrefix": "@",
          "rootPathSuffix": ""
        },
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "assets/scripts"
        }
      ]
    ]
  ],

  "retainLines": true
}
